// ---------------------------------------------------------------------
//  Base Global Styles
// ---------------------------------------------------------------------

html,
body {
  background: $black;
  font-size: 62.5%;
}

body {
  opacity: 0;
  transition: opacity 0.3s ease;

  &.page-ready {
    transition-delay: 0.6s;
    opacity: 1;
  }
}

body,
input,
button,
select,
textarea {
  font-family: $main-font;
  font-size: 18px;
  line-height: $base-line-height;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  color: $black;

  @include start-at($medium) {
    font-size: 20px;
  }
}

main {
  min-height: calc(100vh - 150px);

  @include start-at($large) {
    min-height: calc(100vh - 80px);
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  &[href^="tel:"] {

    &:hover {
      cursor: default;
    }
  }
}

[data-scroll-to],
[data-click-target] {
  cursor: pointer;
}

img,
video {
  height: auto;
  max-width: 100%;
  display: block;
}
figure,
img {
  margin: 0;
  padding: 0;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

picture > * {
  width: 100%;
  height: auto;
}

@mixin selection {
  color: $black;
  background: $brand;
}

::selection {
  @include selection;
}
::-moz-selection {
  @include selection;
}

hr {
  border: none;
  height: 1px;
  background: #c4c4c4;
  
}
