@font-face {
  font-family: 'Noe';
  src: url('../fonts/NoeDisplay-Bold.woff2') format('woff2'),
        url('../fonts/NoeDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'theinhardt';
  src: url('../fonts/Theinhardt-Regular.woff2') format('woff2'),
    url('../fonts/Theinhardt-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'theinhardt';
  src: url('../fonts/Theinhardt-Italic.woff2') format('woff2'),
    url('../fonts/Theinhardt-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'theinhardt';
  src: url('../fonts/Theinhardt-Medium.woff2') format('woff2'),
    url('../fonts/Theinhardt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'theinhardt';
  src: url('../fonts/Theinhardt-Bold.woff2') format('woff2'),
    url('../fonts/Theinhardt-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'theinhardt';
  src: url('../fonts/Theinhardt-Bold-Italic.woff2') format('woff2'),
    url('../fonts/Theinhardt-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
