---
layout: default
id: access
permalink: /access-programs/
title: Access Programs
---

<div class="hero">
  <div class="hero__content text-white">
    <div class="wrapper">
      <div class="d-md-flex text-center text-left-md">
        <div class="col-12 col-md-4 col-lg-5 mb-6 mb-md-0 px-md-6" data-animate-in="up">
          <img class="mx-auto col-4 col-md-12" style="max-width: 248px;" src="/assets/img/direction/access-icon.svg" alt="Access icon" />
        </div>
        <div class="col-12 col-md-8 col-lg-6" data-animate-in="up">
          <h1 class="h5">{ Access Program }</h1>
          <h1 class="h2">All-in for students</h1>
          <p class="p-lg">A paid 12-month program for select college students from underrepresented backgrounds who are often overlooked during the corporate recruitment process.</p>
          <div class="mt-6">
            <a class="btn" href="/become-a-maintainer/">
              <span>Apply for program</span>
              {% include arrow.html %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white bg-pattern-right py-7">
  <div class="wrapper d-md-flex">
    <div class="col-12 col-md-4 col-lg-5" style="order: 3;" data-animate-in="up">
      <img class="mx-auto col-10" src="{{ '/assets/img/direction/student-on-computer.png' | relative_url }}" alt="student on computer" />
    </div>
    <div class="col-12 col-md-7 pr-md-6">
      <h2 class="h3 mb-4" data-animate-in="up">What to expect during the program:</h2>

      <div class="bullet mb-6">
        <div class="rte" data-animate-in="up">
          <h3 class="h4">Professional development training</h3>
          <p>Participants will attend regular meet-ups to hear from open source professionals on topics that will help equip them for success. Topics include:</p>
          <ul>
            <li>Leveraging employee resource groups</li>
            <li>Dealing with microaggressions</li>
            <li>Performance management</li>
            <li>Careers in tech</li>
            <li>Developing and owning your personal story</li>
            <li>The power of collaboration and networking before and after the job</li>
          </ul>
        </div>
      </div>

      <div class="bullet mb-6">
        <div class="rte" data-animate-in="up">
          <h3 class="h4">Open source education</h3>
          <p>Students will be enrolled in online, self-paced courses that provide an introduction to open source. During this time, they’ll also have access to a professor for one-on-one instruction and a class forum to connect with other participants.</p>
          <p class="mb-2"><a href="" target="_blank">A Beginner’s Guide to Open Source Development</a></p>
          <p class="mb-2"><a href="" target="_blank">Introduction to Cloud Infrastructure Technologies</a></p>
          <p class="mb-2"><a href="" target="_blank">Introduction to DevOps and Site Reliability Engineering</a></p>
        </div>
      </div>

      <div class="bullet mb-6">
        <div class="rte" data-animate-in="up">
          <h3 class="h4">Structured 12-week open source project</h3>
          <p>Students will be matched to teams with our corporate partners and complete a 12-week project where they will either contribute directly to open source or focus on working with open source communities. Each student will also be paired with two mentors to guide them throughout the process.</p>
        </div>
      </div>

      <div class="bullet">
        <div class="rte" data-animate-in="up">
          <h3 class="h4">Internship experiences</h3>
          <p>Students who complete the open source curriculum, professional development sessions, and 12-week project will have the opportunity to partake in an internship experience with our corporate partners.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="bg-white bg-static py-8">
  <div class="wrapper-thin text-center text-white" data-animate-in="up">
    <p class="h2">Are you all-in?</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida.</p>
    <div class="mt-6">
      <a class="btn" href="/become-a-partner/">
        <span>Apply for program</span>
        {% include arrow.html %}
      </a>
    </div>
  </div>
</section>
