---
layout: default
id: community
permalink: /community/
title: Community Programs
---

<div class="hero">
  <div class="hero__content text-white">
    <div class="wrapper">
      <div class="d-md-flex flex-items-center text-center text-left-md">
        <div class="col-12 col-md-4 col-lg-5 mb-6 mb-md-0 px-md-6" data-animate-in="up">
          <img class="mx-auto col-4 col-md-12" style="max-width: 248px;" src="/assets/img/direction/community-icon.svg"  alt="community icon" />
        </div>
        <div class="col-12 col-md-8 col-lg-6" data-animate-in="up">
          <h1 class="h5">{ All In Community }</h1>
          <h1 class="h2">All In for Maintainers</h1>
          <div class="d-flex flex-wrap btns mt-6 d-none">
            <a class="btn btn--scroll btn--full-sm mr-3" href="#about-the-tour" data-scroll-to="maintainers-listening-tour">
              <span>About the All In for Maintainers Listening Tour</span>
              {% include arrow.html %}
            </a>
            <a class="btn btn--scroll btn--full-sm" href="#about-the-program" data-scroll-to="about-the-program">
              <span>About the All in for Maintainers Pilot</span>
              {% include arrow.html %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-white bg-pattern-right py-8" id="maintainers-listening-tour">
  <div class="wrapper d-md-flex flex-justify-between">
    <div class="col-12 col-md-6 col-lg-5 pr-md-4 mb-6 mb-md-0" data-animate-in="up">
      {% include video-community.html %}

      <div class="mt-6">
        <h3 class="h4">Preliminary Findings:</h3>

        <div class="d-sm-flex">
          <a class="btn btn--grow mb-3 mb-sm-0 mr-sm-3" href="https://twitter.com/dwcheatham/status/1451600372947210240?s=20" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
            <span>Part 1</span>
          </a>
          <a class="btn btn--grow" href="https://twitter.com/dwcheatham/status/1451600859922673671" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
            <span>Part 2</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pl-md-4 pl-lg-2" data-animate-in="up">
      <div class="rte">
        <h2 class="h3 mb-4">Maintainers Listening Tour</h2>
        <p>The Maintainers Listening Tour is a series of focus groups and individual interviews with maintainers who are interested in attracting and retaining new contributors with diverse backgrounds.</p>
        <p>We will be collecting best practices, lessons learned, and stories that highlight:</p>
        <ul>
          <li>What maintainers are doing to advance diversity, equity and inclusion within their communities</li>
          <li>What is working well</li>
          <li>What is not working well</li>
          <li>Challenges that may be prohibiting them from creating a culture of inclusion within their communities </li>
        </ul>
      </div>

      <div class="mt-5">
        <p class="h4 mb-3">Participate in the Maintainers Listening Tour</p>
        <a class="btn" href="/all-in-for-maintainers-listening-tour/">
          <span>Visit the online form</span>
          {% include arrow.html %}
        </a>
      </div>


    </div>
  </div>
</div>


<div class="bg-static py-8" id="about-the-program">
  <div class="wrapper d-md-flex flex-items-center text-white">
    <div class="col-12 col-md-4 col-lg-5" style="order: 3;" data-animate-in="up">
      <img class="mx-auto col-10" src="{{ '/assets/img/direction/maintainer.png' | relative_url }}" alt="person holding coffee working" />
    </div>
    <div class="col-12 col-md-7 pr-md-6" data-animate-in="up">
      <h2 class="h3 mb-4">All In for Maintainers</h2>
      <p>An immersive program that provides training and technical support to maintainers who want to drive diversity and inclusion in their communities. Participants will receive programming and tools for attracting and maintaining contributors of diverse backgrounds, including accessibility audits, community hospitality techniques, code of conduct analysis, and inclusive language scans and updates. </p>
      <p>The design for the All In for Maintainers pilot will be developed using the data from the <a href="https://www.prnewswire.com/news-releases/linux-foundation-research-reveals-new-open-source-diversity-equity-and-inclusion-trends-301444234.html" target="_blank">Open Source DEI Survey</a> and the <a href="/#maintainers-listening-tour"  data-scroll-to="maintainers-listening-tour">Maintainers Listening Tour</a>.</p>

      <div class="mt-6">
        <p class="p-lg"><span class="font-weight-700 text-bold">Coming soon:</span> 2022 All In for Maintainers Pilot</p>
        <div class="btn mt-2" disabled>
          <span>Selection Process Opens Spring 2022</span>
        </div>
      </div>
    </div>
  </div>
</div>
