---
layout: default
id: home
---

<div class="hero hero--video">
  <div class="hero__content text-center  text-white">
    <div class="wrapper-thin" data-animate-in="up">
      <h1 class="h1">We are All In.</h1>
      <p class="p-xlg">A community dedicated to advancing diversity, equity, and inclusion within open source.</p>
      <div class="mt-6">
        <p class="p-lg">Learn more about our community.</p>
        <a class="btn mt-3" href="https://github.com/AllInOpenSource/All-In/blob/main/README.md" target="_blank">
          <span>Visit our GitHub repo</span>
          {% include arrow.html %}
        </a>
      </div>
    </div>
  </div>

  <img class="hero__pattern" src="{{ '/assets/img/direction/hero-pattern.svg' | relative_url }}" alt="curly bracket pattern" />
</div>


<section class="bg-white bg-pattern py-8">
  <div class="wrapper-thin text-center" data-animate-in="up">
    <h2 class="h5 mb-3">{ Our mission }</h2>
    <p class="h2">To open source<br /> <u>diversity</u> & <u>inclusion</u></p>

    <p>Currently, diversity and inclusion is being approached in the same way that software development used to be prior to the creation of open source. Many efforts, in spite of significant resources and financial investment, are fragmented, not openly shared, only address part of the challenges, and are not collaborative with those outside of a single organization or very few partnerships.</p>

    <p>To create a more inclusive open source community for developers everywhere, we will bring together corporate partners, industry leaders, researchers, and foundations to build upon existing research and initiatives. We invite you to join us.</p>

    <div class="mt-6">
      <a class="btn" href="/become-a-partner/" target="_blank">
        <span>Become a partner</span>
        {% include arrow.html %}
      </a>
    </div>
  </div>

  <img class="bg-pattern__img" src="{{ '/assets/img/direction/hero-pattern-light.svg' | relative_url }}" alt="curly bracket pattern" />
</section>


<section class="home-cray">
  <div class="wrapper">
    <div class="col-12 col-lg-6" data-animate-in="up">
      <figure class="home-cray-img-1">
        <img class="" src="/assets/img/direction/woman-on-computer.png" alt="woman on a computer" />
        <img class="bl" src="/assets/img/direction/bracket-left.svg" alt="curly bracket open" />
        <img class="br" src="/assets/img/direction/bracket-right.svg" alt="curly bracket close" />
        <img class="orb" src="/assets/img/direction/orb-green.svg" alt="green orb" />
      </figure>
    </div>
    <div class="col-12 col-lg-6 d-none d-lg-block" data-animate-in="up">
      <figure class="home-cray-img-2">
        <img class="" src="/assets/img/direction/man-on-computer.png" alt="man on a computer" />
        <img class="bl" src="/assets/img/direction/bracket-left.svg" alt="curly bracket open" />
        <img class="br" src="/assets/img/direction/bracket-right.svg" alt="curly bracket close" />
        <img class="orb" src="/assets/img/direction/orb-blue.svg" alt="blue orb" />
      </figure>
    </div>
    <div class="col-12 col-lg-6 home-cray__graph" data-animate-in="up">
      <img class="orb" src="/assets/img/direction/graph.svg" alt="What we do graph: Academia, Social sector, Philanthropy, Government, Open Source DEI Leaders, Foundations, Corporate" />
    </div>
    <div class="col-12 col-lg-6 text-white pl-lg-6 mt-lg-6 home-cray__text">
      <div data-animate-in="up">
        <p class="h3">All In brings together corporate partners, industry leaders, researchers, and foundations to build upon existing research and initiatives to create a more <u>inclusive</u> open source community for developers everywhere.</p>
      </div>
    </div>
  </div>
</section>


<section class="wrapper-full bg-white py-8">
  <div class="wrapper">
    <h2 class="h3 mb-5" data-animate-in="up">The goals of All In will be aligned across four pillars:</h2>
    <div class="row">
      <div class="col--xs--12 col--md--6 mb-6" data-animate-in="up">
        <img class="mb-4" src="/assets/img/direction/access.svg" alt="access icon" />
        <h3 class="h3">Access</h3>
        <p>All In seeks to lower barriers to access and provide an on-ramp and clear pathways to success for future developers from underrepresented backgrounds and regions. Through our curriculum we are supporting our partners to increase contributors to open source in various stages of their journey and from all walks of life - students, military veterans, career changers, retirees, and formerly or currently incarcerated.</p>
      </div>
      <div class="col--xs--12 col--md--6 mb-6" data-animate-in="up">
        <img class="mb-4" src="/assets/img/direction/community.svg" alt="community icon" />
        <h3 class="h3">Community</h3>
        <p>Inclusion happens at the community level. Maintainers and community leaders are largely responsible for setting the tone for a culture of inclusion within their communities. All In engages with partners and educators focused on bridging the digital divide to understand their experiences, challenges, and what support they need to advance diversity, equity, and inclusion. Our efforts center on providing resources, tools and direct technical assistance.</p>
        <p>We also address infrastructure challenges such as inequities in course curriculum at some Minority Serving Institutions and challenges to access such as lack of reliable internet connectivity or cost to connect to the internet.</p>
      </div>

      <div class="col--xs--12 col--md--6 mb-6 mb-md-0" data-animate-in="up" id="equity">
        <img class="mb-4" src="/assets/img/direction/equity.png" alt="equity icon" />
        <h3 class="h3">Equity</h3>
        <p>We seek to amplify underrepresented voices to increase the representation of open source speakers at conferences and events. We help connect new voices to opportunities to contribute to articles and podcasts.</p>
        <p>We offer curated bundles of pack partner products, GitHub tools, and other resources that are designed for learners to learn new skills through the All In Developer Pack.</p>
        <p>Additionally, we are removing cost prohibitive barriers by providing GitHub Certifications at no additional cost to members of our All In community. Getting GitHub certified is a resounding endorsement that validates your skills, credibility, trust, and knowledge of the technologies and developer tools that are used by more than 100 million developers worldwide.</p>
      </div>

      <div class="col--xs--12 col--md--6" data-animate-in="up" id="data">
        <img class="mb-4" src="/assets/img/direction/data.svg" alt="data icon" />
        <h3 class="h3">Data</h3>
        <p>All In provides insight into the current state of diversity, equity, and inclusion within open source and skilling, challenges that need to be addressed, and strengths that can be leveraged to create a more inclusive culture within our communities. We make informed, data-driven decisions, ensure we have short term metrics of success, and monitor longitudinal data to measure long-term impact.</p>
        <p>Our first initiative was to create the 2021 Open Source Diversity, Equity, and Inclusion Survey and partner with the Linux Foundation to survey across the open source ecosystem. View the <a href='https://www.linuxfoundation.org/research/the-2021-linux-foundation-report-on-diversity-equity-and-inclusion-in-open-source' target='_blank'>final report</a>. We are now collaborating with Intentional Futures to research inequities in computer science and other technical education programs.</p>
      </div>
    </div>

    <div class="wrapper mt-7">
      <h4 class="h3 mb-4 text-center pt-lg-6">Founding Partners</h4>
      {% include logo-list.html %}
    </div>
  
  </div>
</section>
