---
layout: default
id: home
---

<div class="hero hero--video">
  <div class="hero__content text-center  text-white">
    <div class="wrapper-thin" data-animate-in="up">
      <h1 class="h1">We are all-in.</h1>
      <p class="p-lg">A community dedicated to advancing diversity, equity, and inclusion within open source.</p>
      <div class="mt-6">
        <a class="btn" href="https://github.com/AllInOpenSource/All-In" target="_blank">
          <span>Get Started today</span>
          {% include arrow.html %}
        </a>
      </div>
    </div>
    <div class="hero-content__media" data-animate-in="up">
      {% include video.html %}

      <img class="orb" src="/assets/img/direction/orb-green.svg" alt="green orb" />
    </div>
  </div>

  <img class="hero__pattern" src="{{ '/assets/img/direction/hero-pattern.svg' | relative_url }}" alt="curly bracket pattern" />
</div>


<section class="bg-white bg-pattern py-8">
  <div class="wrapper-thin text-center" data-animate-in="up">
    <h2 class="h5 mb-3">{ Our mission }</h2>
    <p class="h2">To open source<br /> <u>diversity</u> & <u>inclusion</u></p>

    <p>Currently, diversity and inclusion within open source is being approached in the same way that software development used to be. Most efforts are fragmented, only address part of the challenges, and critically, are not openly shared.</p>

    <p>We will bring together corporate partners, industry leaders, researchers, and foundations, and build upon existing research and initiatives, to create a more inclusive open source for developers everywhere.</p>

    <div class="mt-6">
      <a class="btn" href="/become-a-partner/" target="_blank">
        <span>Become a partner</span>
        {% include arrow.html %}
      </a>
    </div>
  </div>

  <div class="wrapper mt-7">
    <ul class="logo-list" data-animate-in="up">
      <li>
        <img src="/assets/img/logos/github.svg" alt="GitHub logo" />
      </li>
      <li>
        <img src="/assets/img/logos/microsoft.svg" alt="Microsoft logo" />
      </li>
      <li>
        <img src="/assets/img/logos/redhat.svg" alt="Red Hat logo" />
      </li>
      <li>
        <img src="/assets/img/logos/cisco.svg" alt="Cisco logo" />
      </li>
      <li>
        <img src="/assets/img/logos/intel.svg" alt="intel logo" />
      </li>
      <li>
        <img src="/assets/img/logos/fidelity.svg" alt="Fidelity logo" />
      </li>
    </ul>
  </div>

  <img class="bg-pattern__img" src="{{ '/assets/img/direction/hero-pattern-light.svg' | relative_url }}" alt="curly bracket pattern" />
</section>


<section class="home-cray">
  <div class="wrapper">
    <div class="col-12 col-lg-6" data-animate-in="up">
      <figure class="home-cray-img-1">
        <img class="" src="/assets/img/direction/woman-on-computer.png" alt="woman on a computer" />
        <img class="bl" src="/assets/img/direction/bracket-left.svg" alt="curly bracket open" />
        <img class="br" src="/assets/img/direction/bracket-right.svg" alt="curly bracket close" />
        <img class="orb" src="/assets/img/direction/orb-green.svg" alt="green orb" />
      </figure>
    </div>
    <div class="col-12 col-lg-6 d-none d-lg-block" data-animate-in="up">
      <figure class="home-cray-img-2">
        <img class="" src="/assets/img/direction/man-on-computer.png" alt="man on a computer" />
        <img class="bl" src="/assets/img/direction/bracket-left.svg" alt="curly bracket open" />
        <img class="br" src="/assets/img/direction/bracket-right.svg" alt="curly bracket close" />
        <img class="orb" src="/assets/img/direction/orb-blue.svg" alt="blue orb" />
      </figure>
    </div>
    <div class="col-12 col-lg-6 home-cray__graph" data-animate-in="up">
      <img class="orb" src="/assets/img/direction/graph.svg" alt="What we do graph: Academia, Social sector, Philanthropy, Government, Open Source DEI Leaders, Foundations, Corporate" />
    </div>
    <div class="col-12 col-lg-6 text-white pl-lg-6 mt-lg-6 home-cray__text">
      <div data-animate-in="up">
        <h2 class="h5">{ Our goal }</h2>
        <p class="h3">The all in community will collaborate with industry partners and build on research and initiatives that already exist to advance <u>diversity</u>, <u>equity</u>, and <u>inclusion</u> in open source.</p>
      </div>
    </div>
  </div>
</section>



<section class="wrapper-full bg-white py-8">
  <div class="wrapper">
    <h2 class="h3 mb-5" data-animate-in="up">Our goals will be aligned across four pillars:</h2>
    <div class="row">
      <div class="col--xs--12 col--sm--6 mb-6" data-animate-in="up">
        <img class="mb-4" src="/assets/img/direction/access.svg" alt="access icon" />
        <h3 class="h3">Access</h3>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <a class="arrow-link mt-5" href="/access-programs/">
          <span>Explore Access Programs</span>
          {% include arrow.html %}
        </a>
      </div>
      <div class="col--xs--12 col--sm--6 mb-6" data-animate-in="up">
        <img class="mb-4" src="/assets/img/direction/community.svg" alt="community icon" />
        <h3 class="h3">Community</h3>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <a class="arrow-link mt-5" href="/community-programs/">
          <span>Explore Community Programs</span>
          {% include arrow.html %}
        </a>
      </div>
      <div class="col--xs--12 col--sm--6 mb-6 mb-sm-0" data-animate-in="up">
        <img class="mb-4" src="/assets/img/direction/equity.svg" alt="equity icon" />
        <h3 class="h3">Equity</h3>
        <p>All In will leverage the GitHub Sponsors for Companies program to provide direct financial support to maintainers from underrepresented and/or historically excluded backgrounds, and projects that serve under-resourced communities. </p>
      </div>
      <div class="col--xs--12 col--sm--6" data-animate-in="up">
        <img class="mb-4" src="/assets/img/direction/data.svg" alt="data icon" />
        <h3 class="h3">Data</h3>
        <p>All In will provide insight into the current state of diversity, equity, and inclusion within open source, challenges that need to be addressed, and strengths that can be leveraged to create a more inclusive culture within our communities. We will make informed, data-driven decisions, ensure we have short term metrics of success, and monitor longitudinal data to measure long-term impact.</p>

        <p>Our first initiative was to create the <a href="">Open Source Diversity, Equity, and Inclusion Survey</a> and partner with the Linux Foundation to survey across the open source ecosystem. Preliminary findings will be released September-November 2021, and the full report will be released in December 2021.</p>

      </div>
    </div>
  </div>
</section>
