---
layout: default
id: badging
permalink: /maintainers/DEI-badging/
title: DEI Badging Program
---

<script>
  window.location.replace("https://badging.chaoss.community");  
</script>

<div class="hero hero--short">
  <div class="hero__content text-white">
    <div class="wrapper">
      <div class="d-md-flex text-center text-left-md">
        <div class="col-12 col-md-4 mb-6 mb-md-0 px-md-6" data-animate-in="up">
          <img class="" src="{{ '/assets/img/direction/programs/badging.svg' | relative_url }}" alt="All In for Maintainers DEI Resource Hub" />
        </div>
        <div class="col-12 col-md-8 col-lg-7" data-animate-in="up">
          <h2 class="h2">DEI Badging</h2>
          <p>The DEI Badging Program helps open source project maintainers signal to their communities ongoing efforts in improving and prioritizing diversity, equity, and inclusion. This Program focuses on a DEI.md file in a project’s central repository. We are preparing to launch this project as a Limited Pilot Program and are looking for volunteer projects to participate. We would like to encourage those with an interest in diversity, equity, and inclusion to help the All In and CHAOSS projects build out the metrics to be listed in the <a href="https://github.com/AllInOpenSource/ProjectBadging/blob/main/Template.DEI.md" target="_blank">DEI.md</a> file for each badging level.</p>

          <p>To participate in either of these projects click below</p>

          <div class="mt-4">
            <a class="btn" href="https://forms.gle/4rBaX5EbEcmGAEvh6" target="_blank">
              <span>Participate Now</span>
              {% include arrow.html %}
            </a>
          </div>

          <div class="d-flex flex-wrap btns mt-6 d-none">
            <a class="btn btn--scroll btn--full-sm mr-3" href="#about-the-tour" data-scroll-to="maintainers-listening-tour">
              <span>About the All In for Maintainers Listening Tour</span>
              {% include arrow.html %}
            </a>
            <a class="btn btn--scroll btn--full-sm" href="#about-the-program" data-scroll-to="about-the-program">
              <span>About the All in for Maintainers Pilot</span>
              {% include arrow.html %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-white bg-pattern-left py-8">
  <div class="wrapper d-md-flex flex-justify-between">
    <div class="col-12 col-md-4 pr-md-4 mb-6 mb-md-0" data-animate-in="up">
      <div class="rte">
        <h2 class="h3 mb-4">DEI Badging Program</h2>
      </div>
    </div>
    <div class="col-12 col-md-8 pl-md-4 pl-lg-2 rte" data-animate-in="up">
      <p>The All In project has partnered with <a href="https://chaoss.community/" target="_blank">CHAOSS</a> (Community Health Analytics Open Source Software) and other organizations to develop some of the core tenets of measuring and centering diversity, equity, and inclusion (DEI) in open source. Together we have developed the DEI.md file as a core concept for communicating a project’s attention to DEI in one central document, much like the CODE_OF_CONDUCT.md file does for a project’s Code of Conduct.</p>

      <p>In this file, maintainers are asked to self-reflect and explicitly express the ways their projects address diversity, equity, and inclusion. At the most basic level, projects should communicate their policies and procedures around four factors:</p>

      <ul>
        <li>Project access and accessibility</li>
        <li>Communication transparency</li>
        <li>Newcomer experience</li>
        <li>Inclusive Leadership</li>
      </ul>

      <p>For well-resourced projects who have already solidified their policies in these areas, crafting this document may require little effort. For new or small projects, the DEI.md file will be a prompt for maintainers to think about and decide as a project how they will attend to these things. For all projects, being able to communicate to current and potential contributors how their project prioritizes these areas is a valuable tool that will improve DEI within communities.</p>

      <p>This DEI.md file will be the basis for the DEI Badging program, which is currently in the Limited Pilot stage.</p>

      <p>We are currently asking for feedback on this <a href="https://github.com/AllInOpenSource/ProjectBadging/blob/main/DEI.md" target="_blank">DEI.md</a> template file and this Guide to the DEI.md file. We are also looking for volunteers to not only help us build future DEI-related metrics, but to take part in the DEI Badging Limited Pilot Program. If you are interested in these opportunities, please fill out this form: <a href="https://forms.gle/4rBaX5EbEcmGAEvh6" target="_blank">https://forms.gle/4rBaX5EbEcmGAEvh6</a></p>

    </div>
  </div>
</div>
