---
layout: default
id: maintainers
permalink: /maintainers/
title: All In for Maintainers
---

<div class="hero">
 <div class="hero__content text-white">
  <div class="wrapper">
   <div class="d-md-flex flex-items-center text-center text-left-md">
    <div class="col-12 col-md-4 col-lg-5 mb-6 mb-md-0 px-md-6" data-animate-in="up">
     <img class="mx-auto col-4 col-md-12" style="max-width: 248px;" src="/assets/img/direction/community-icon.svg" alt="community icon" />
    </div>
    <div class="col-12 col-md-8 col-lg-6" data-animate-in="up">
     <h1 class="h5">{ Community Programs }</h1>
     <h2 class="h2">All In for Maintainers</h2>
     <p>All In for Maintainers is a comprehensive initiative that seeks to provide maintainers with the training and technical support they need to advance diversity and inclusion within their communities.</p>
     <div class="d-flex flex-wrap btns mt-6 d-none">
      <a class="btn btn--scroll btn--full-sm mr-3" href="#about-the-tour" data-scroll-to="maintainers-listening-tour">
       <span>About the All In for Maintainers Listening Tour</span>
       {% include arrow.html %}
      </a>
      <a class="btn btn--scroll btn--full-sm" href="#about-the-program" data-scroll-to="about-the-program">
       <span>About the All in for Maintainers Pilot</span>
       {% include arrow.html %}
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>


<div class="bg-white bg-pattern-right py-8 wrapper-full" id="maintainers-listening-tour">
 <div class="wrapper d-md-flex flex-justify-between">
  <div class="col-12 col-md-6 col-lg-7 pr-md-4 mb-6 mb-md-0" data-animate-in="up">
   <div class="rte">
    <h2 class="h3 mb-4">Program Overview</h2>

    <p>From capturing 7,000+ voices in the 2021 <a href="https://www.linuxfoundation.org/research/the-2021-linux-foundation-report-on-diversity-equity-and-inclusion-in-open-source" target="_blank">Open Source DEI Survey</a> to hosting 300 community members in the <a href="{{ '/maintainers/maintainers-listening-tour/' | relative_url }}">Maintainers Listening Tour</a>, we have listened, learned, and now we’ve built an initiative to support maintainers to drive diversity, equity, and inclusion (DEI) within their communities.</p>

    <blockquote class="my-5 px-4 px-lg-6 d-none">
     <q class="h3">Inclusion happens at the community level</q>
     <img src="{{ '/assets/img/direction/icons/orb-blue.svg' | relative_url }}" alt="blue orb" />
    </blockquote>

    <p>A maintainer is to a community what a manager is to a team - in each context, they directly influence the culture, practices, and communication styles in that community. In order to empower maintainers with the tools and information they need to advance DEI within their communities, we’ve launched All In for Maintainers.All In for Maintainers is a collaborative effort of solutions and resources for maintainers committed to advancing inclusion within open source projects and creating positive change within their communities.</p>

    <p>Resources for creating inclusive projects and welcoming open source communities.</p>

   </div>


  </div>
  <div class="col-12 col-md-6 col-lg-5 pl-md-4 pl-lg-2" data-animate-in="up">
   <img class="mx-auto" src="{{ '/assets/img/direction/community.png' | relative_url }}" alt="woman on computer" />
  </div>
 </div>

 <div class="wrapper mt-6 pt-lg-4" id="programs">
  <h2 class="h3 mb-6">All In for Maintainers Key Programs</h2>

  <div class="row">
   <div class="col--xs--12 col--md--6 col--lg--3 mb-6 mb-lg-0">
    <img class="mb-3 col-12" src="{{ '/assets/img/direction/programs/dei.svg' | relative_url }}" alt="All In for Maintainers DEI Resource Hub" />
    <h3 class="h4">DEI Resource Hub</h3>
    <p>Resources for creating inclusive projects and fostering welcoming open source environments.</p>

    <a class="arrow-link mt-4" href="/maintainers/DEI-resources/">
     <span>Learn More</span>
     <svg width="16" viewBox="0 0 17 13.6">
      <polygon fill="#121212" points="3.4,6.8 1.7,5.1 0,6.8 1.7,8.5 3.4,6.8 5.1,8.5 6.8,6.8 5.1,5.1 "></polygon>
      <rect x="7.3" y="5.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.3146 7.988)" fill="#121212" width="2.4" height="2.4"></rect>
      <polygon fill="#121212" points="15.3,8.5 17,6.8 15.3,5.1 15.3,5.1 13.6,3.4 13.6,3.4 11.9,1.7 11.9,1.7 11.3,1.1 11.3,1.1 10.2,0
      	8.5,1.7 10.2,3.4 10.2,3.4 10.7,3.9 11.9,5.1 11.9,5.1 11.9,5.1 10.2,6.8 11.9,8.5 11.9,8.5 11.9,8.5 10.6,9.8 10.2,10.2 10.2,10.2
      	9.6,10.8 9.6,10.8 8.5,11.9 10.2,13.6 11.3,12.5 11.9,11.9 11.9,11.9 12.4,11.3 12.5,11.3 13.6,10.2 13.6,10.2 15.3,8.5 "></polygon>
     </svg>
    </a>
   </div>

   <div class="col--xs--12 col--md--6 col--lg--3 mb-6 mb-lg-0">
    <img class="mb-3 col-12" src="{{ '/assets/img/direction/programs/badging.svg' | relative_url }}" alt="All In for Maintainers Badging" />
    <h3 class="h4">DEI Project Badging</h3>
    <p>Recognition for open source projects with a proven commitment to DEI.</p>

    <img class="mt-4" src="{{ '/assets/img/direction/programs/coming-soon.svg' | relative_url }}" alt="Coming soon" />
   </div>

   <div class="col--xs--12 col--md--6 col--lg--3">
    <img class="mb-3 col-12" src="{{ '/assets/img/direction/programs/creators.svg' | relative_url }}" alt="All In for Maintainers Creators" />
    <h3 class="h4">DEI Content Creators</h3>
    <p>Creation of new DEI resources and tools to automate work for maintainers.</p>

    <img class="mt-4" src="{{ '/assets/img/direction/programs/coming-soon.svg' | relative_url }}" alt="Coming soon" />
   </div>

   <div class="col--xs--12 col--md--6 col--lg--3">
    <img class="mb-3 col-12" src="{{ '/assets/img/direction/programs/matching.svg' | relative_url }}" alt="All In for Maintainers Community Matching" />
    <h3 class="h4">Community Collaboration Hub</h3>
    <p>Matching program for collaboration on  community-specific DEI initiatives.</p>

    <img class="mt-4" src="{{ '/assets/img/direction/programs/coming-soon.svg' | relative_url }}" alt="Coming soon" />
   </div>
  </div>
 </div>
</div>
