---
layout: default
id: africa
permalink: /access/africa
title: All In Africa
---

<section class="hero">
  <div class="hero__content text-white">
    <div class="wrapper pb-4 pb-lg-6">
      <div class="text-center col-md-8 col-lg-6 mx-auto">
        <img class="mx-auto col-4 col-md-12" style="max-width: 248px;" src="/assets/img/africa-logo.svg" alt="Access icon" />
        <p class="mt-4">All In Africa is an online educational program that provides Africans with free open source education, training, mentorship, community involvement, and internship opportunities.</p>

        <div class="btn mt-4 disabled">
          <span>Coming Soon</span>
          {% include arrow.html %}
        </div>
      </div>
    </div>

    <div class="wrapper d-md-flex py-lg-6 mt-7">
      <div class="col-12 col-md-4 col-lg-5" style="order: 3;" data-animate-in="up">
        <img class="mx-auto col-10" src="{{ '/assets/img/direction/student-on-computer-2.png' | relative_url }}" alt="student on computer" />
      </div>
      <div class="col-12 col-md-7 pr-md-6">
        <h2 class="h3 mb-6" data-animate-in="up">All In Africa</h2>
        <p>All In Africa is designed to empower Africans and bridge the diversity gap of developers through free open source education, comprehensive training, mentorship, vibrant community engagement, and career focused experiential opportunities. Participants will enhance their technical skills with access to open source courses, practical training, and hackathons.</p>


        <p>The program offers a unique chance to connect with tech professionals and fellow students across Africa, fostering networking and collaboration. By joining this community, individuals can collaborate on impactful open source projects that address real-world challenges. </p>

        <p>All In Africa is a gateway to growth, learning, and meaningful connections within the African open source ecosystem and beyond.</p>

        <a class="arrow-link arrow-link--brand mt-4 d-none" href="">
         <span>Learn How To Get Started</span>
         {% include arrow.html %}
        </a>
      </div>
    </div>
  </div>
</section>


<section class="bg-white bg-pattern-right py-7">
  <div class="wrapper d-md-flex flex-items-center py-lg-6">
    <div class="col-12 col-md-4 col-lg-5" style="order: 3;" data-animate-in="up">
      <img class="mx-auto col-10" src="{{ '/assets/img/direction/all-in-lifestyle.png' | relative_url }}" alt="lifestyle shot of guy with sunglasses" />
    </div>
    <div class="col-12 col-md-7 pr-md-6">
      <h2 class="h3 h3-lg" data-animate-in="up">Open source, for all.</h2>
      <p class="h3 h3--alt mb-4">All Africans interested in Open Source are eligible to participate and join us.</p>

      <a class="btn disabled mt-5"  href="">
        <span>Coming Soon</span>
        {% include arrow.html %}
      </a>
    </div>
  </div>
</section>


<section class="wrapper-full bg-static py-8" id="benefits">
  <div class="wrapper text-white" data-animate-in="up">
    <h3 class="h3 h3--alt">{ Benefits of participating }</h3>
    <p>There are many reasons to particpate in the program, including:</p>

    <div class="row mt-6 pt-lg-6">
      {% for item in site.data.benefitsAfrica %}
      <div class="col--xs--12 col--sm--6 col--md--4 mb-6">
        <img src="/assets/img/direction/icons/{{ item.image }}" alt="{{ item.title }} icon" />
        <h4>{{ item.title }}</h4>
        <p>{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>

    <small class="text-light mt-6">Benefits are subject to program completion and availability. Internships are not guaranteed. </small>
  </div>

  <div class="wrapper d-md-flex flex-items-center pt-8 text-white">
    <div class="col-12 col-md-4 col-lg-5 mb-3 mb-md-0" data-animate-in="up">
      <img class="col-12 img-rounded" src="{{ '/assets/img/direction/ambassador.jpg' | relative_url }}" alt="All In ambassador" />
    </div>
    <div class="col-12 col-md-7 pl-md-6">
      <h2 class="h3 h3--alt" data-animate-in="up">{ Ambassadors in Your Region }</h2>
      <p>The All In Africa Regional Ambassadors are open source leaders in the five regions of Africa: North Africa, East Africa, West Africa, South Africa and Central Africa.</p>

      <p>Their role is to coordinate the various students in their regions, hold mini meetups, and be contact persons for their respective regions.</p>
    </div>
  </div>
</section>


<section class="bg-static pb-8">
  <div class="wrapper-thin text-center text-white" data-animate-in="up">
    <p class="h2">Are you All In?</p>
    <p>All In Africa provides open source curriculum, career development, and opportunities at companies, nonprofits and within open source communities.</p>
    <div class="mt-6">
      <a class="btn disabled" href="">
        <span>Join the All In Africa Program</span>
        {% include arrow.html %}
      </a>
    </div>
  </div>
</section>
