---
layout: default
id: students
permalink: /access/students/
title: All In for Students
---

<div class="hero">
  <div class="hero__content text-white">
    <div class="wrapper">
      <div class="d-md-flex text-center text-left-md">
        <div class="col-12 col-md-4 col-lg-5 mb-6 mb-md-0 px-md-6" data-animate-in="up">
          <img class="mx-auto col-4 col-md-12" style="max-width: 248px;" src="/assets/img/direction/access-icon.svg" alt="Access icon" />
        </div>
        <div class="col-12 col-md-8 col-lg-6" data-animate-in="up">
          <h1 class="h5">{ All In Access }</h1>
          <h1 class="h2">All In for Students</h1>
          <p class="p-lg mt-0">All In for Students is an online program for tech students from underrepresented backgrounds that provides open source education, training, and internship opportunities.</p>
          <div class="mt-6">
            <div class="btn mt-2 disabled" href="https://docs.google.com/forms/d/e/1FAIpQLScsWJyKl4DKWE2iHTbZiFGUj1zVTktzYN2HqPHACNVpE06ywA/viewform?usp=sf_link" target="_blank">
              <span>Registration closed</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white bg-pattern-right py-7">
  <div class="wrapper d-md-flex py-lg-6">
    <div class="col-12 col-md-4 col-lg-5" style="order: 3;" data-animate-in="up">
      <img class="mx-auto col-10" src="{{ '/assets/img/direction/student-on-computer.png' | relative_url }}" alt="student on computer" />
    </div>
    <div class="col-12 col-md-7 pr-md-6">
      <h2 class="h3 mb-6" data-animate-in="up">Program Overview</h2>
      <h3 class="h3 h3--alt mb-4">{ Who is eligible to participate? }</h3>
      <p><b>Students enrolled full time or part time at a:</b></p>
      <div class="rte" data-animate-in="up">
        <ul>
          <li>U.S. Historically Black College or University (HBCU)</li>
          <li>U.S. Hispanic Serving Institution (HSI)</li>
          <li>U.S. Women’s College </li>
          <li>U.S. Community College </li>
          <li>Any U.S. four-year institution and identify as a racial or ethnic minority</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<section class="wrapper-full bg-static py-8" id="benefits">
  <div class="wrapper text-white" data-animate-in="up">
    <h3 class="h3 h3--alt">{ Benefits of participating }</h3>
    <p>There are many reasons to particpate in the program, including:</p>

    <div class="row mt-6 pt-lg-6">
      {% for item in site.data.benefits %}
      <div class="col--xs--12 col--sm--6 col--md--4 mb-6">
        <img src="/assets/img/direction/icons/{{ item.image }}" alt="{{ item.title }} icon" />
        <h4>{{ item.title }}</h4>
        <p>{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>

    <small class="text-light mt-6">Benefits are subject to program completion and availability. Internships are not guaranteed. Program requirements must be completed and students must apply and be accepted to various internships and other opportunities.</small>


    <div class="my-6 d-md-flex flex-justify-between pt-6 row--img-icons">
      <div class="col-md-6 pr-md-6 mb-4">
        <h3 class="h3 h3--alt">{ How to get started with All In }</h3>

      </div>
      <div class="col-md-6 pl-md-6">

        <p>If you're interested in participating in the All In for Students Program, follow the instructions below to learn next steps!</p>
        <br />
        <div class="orb-wrap">
          <img src="/assets/img/direction/icons/orb-blue.svg" alt="blue orb" />
          <h4>Sign Up Online</h4>
          <p><b>Step 1</b> - Review Deck <a href="https://docs.google.com/presentation/d/1iHvCuOpAmXP83KTtb9gK3hX3a7S5O48quwlSa7MB7zQ/edit#slide=id.g120d7c85a14_0_475" target="_blank">Welcome to All In for Students 2024 Cohort!</a></p>
          <p><b>Step 2</b> - <div>Join All In for Students (Registration now closed)</div></p>
        </div>
      </div>
    </div>
</section>


<section class="wrapper-full bg-white py-8" id="faq">
  <div class="wrapper" data-animate-in="up">
    <h3 class="h3">FAQs</h3>

    <div class="faqs mt-6 pt-lg-6">
      {% for item in site.data.faq %}
      <div>
        <h4>{{ item.question }}</h4>
        <p>{{ item.answer }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="bg-white bg-static py-8">
  <div class="wrapper-thin text-center text-white" data-animate-in="up">
    <p class="h2">Are you All In?</p>
    <p>All In for Students provides open source curriculum, career development, and opportunities at companies, nonprofits and within open source communities. Consider becoming a corporate partner today.</p>
    <div class="mt-6">
      <a class="btn" href="/become-a-partner/">
        <span>Request Partner Information</span>
        {% include arrow.html %}
      </a>
    </div>
  </div>
</section>
