---
layout: default
id: access
permalink: /access/
title: All In for Students
---

<div class="hero">
  <div class="hero__content text-white">
    <div class="wrapper">
      <div class="d-md-flex text-center text-left-md">
        <div class="col-12 col-md-4 col-lg-5 mb-6 mb-md-0 px-md-6" data-animate-in="up">
          <img class="mx-auto col-4 col-md-12" style="max-width: 248px;" src="/assets/img/direction/access-icon.svg" alt="Access icon" />
        </div>
        <div class="col-12 col-md-8 col-lg-6" data-animate-in="up">
          <h3 class="h5">{ Access Programs }</h3>
          <h1 class="h2">All In for Access</h1>
          <p class="p-lg mt-0">All In for Access is an comprehensive initiative designed to lower barriers to access and provide a clear pathway to success for future developers from underrepresented backgrounds and regions. Our programs provide an on-ramp and support to contributors to open source in various stages of their journey and from all walks of life. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-static text-white pb-7">
  <div class="wrapper">
    <h3 class="h3">Overview</h1>
    <div class="d-md-flex">
      <div class="col-12 col-md-6 mb-6 mb-md-0 pr-md-6" data-animate-in="up">
        <p>Prioritizing diversity, equity, and inclusion (DEI) can make open source projects more accessible, welcoming, and productive for people from different backgrounds - and this focus has never been more urgent. Today, we face the reality of economic downturn and cultural shifts on DEI initiatives and programming. As layoffs, budget cuts , and internship programs are significantly reduced, high-impact programs focused on the unique needs of underrepresented and under-resourced communities adversely feel the impact of change. This comes during a time when programs centered on providing students , those looking to enter into the world of technology, and career professionals, the competitive edge critical to compete for opportunities in the evolving world of technology.</p>
      </div>
      <div class="col-12 col-md-6 pl-md-6" data-animate-in="up">
        <p>While recognizing these challenges, we see this as an opportunity to help guide the future generation of tech through tooling, best practices, connectivity and more. Whether it be addressing infrastructure challenges such as inequities in course curriculum at a Minority Serving Institution or working with regional ambassadors across the continent of Africa to build and enhance leadership, communication, and organizational skills through hands-on experience for African developers. All In for Access seeks to lower barriers to access and provide an on-ramp and clear pathways to success for future developers no matter what stage of their journey they are on, and from all walks of life.</p>
      </div>
    </div>
  </div>
</div>


<div class="bg-static text-white py-7">
  <div class="wrapper">
    <h3 class="h3 mb-6">Key Programs</h1>
    <div class="d-md-flex">
      <div class="col-12 col-md-6 mb-6 mb-md-0 pr-md-6" data-animate-in="up">
        <img src="{{ '/assets/img/direction/student-on-computer-3.png' | relative_url }}" alt="Student on computer" />
        <h2 class="h3">All In for Students</h2>
        <p>All In for Students is an online program for tech students from underrepresented backgrounds that provides open source education, training, and internship opportunities.</p>
        <a class="arrow-link text-brand mt-4" href="/access/students/">
          <span>All In for Students</span>
          {% include arrow.html %}
        </a>
      </div>
      <div class="col-12 col-md-6 pl-md-6" data-animate-in="up">
        <img src="{{ '/assets/img/direction/student-on-computer-4.png' | relative_url }}" alt="Student on computer" />
        <h2 class="h3">All In Africa</h2>
        <p>All In Africa is an online educational program that provides Africans with free open source education, training, mentorship, community involvement, and internship opportunities.</p>
        <a class="arrow-link mt-4 text-brand" href="/access/africa/">
          <span>All In Africa</span>
          {% include arrow.html %}
        </a>
      </div>
    </div>
  </div>

  <div class="py-6"></div>
</div>
