<header class="site-header" id="site-header">

	<div class="container-wide">
		<div class="site-branding">
			<a href="{{ "/" | relative_url }}">
        <img src="{{ '/assets/img/Logo.svg' | relative_url }}" alt="All in logo" />
        <span class="sr-only">Return to homepage</span>
			</a>
		</div>

		<ul class="desktop-navigation">
			<li>
				<a href="https://docs.google.com/forms/d/1SFtvJyke-UBrpcfJRVFZ-uqnk6C64qwFslW5f8-7cv0" target="_blank">
					<span>Become a partner</span>
					{% octicon arrow-right height:16 %}
				</a>
			</li>
			<li>
				<a href="https://docs.google.com/forms/d/1IiGB2Id7bCobmzECCkfzmb76UV7HQVA1szKQMzNtwXo" target="_blank">
					<span>Apply</span>
					{% octicon arrow-right height:16 %}
				</a>
			</li>

		</ul>

		<div class="site-header__utility">
			<div class="burger js-menu-trigger">
				<span class="closed"><img src="{{ '/assets/img/svgs/burger.svg' | relative_url }}" alt="menu icon" /></span>
				<span class="open"><img src="{{ '/assets/img/svgs/close.svg' | relative_url }}" alt="close icon" /></span>
			</div>
		</div>

		<nav class="navigation-drawer">
			<div>
				<ul class="mobile-navigation">
					<li>
						<a href="https://docs.google.com/forms/d/1SFtvJyke-UBrpcfJRVFZ-uqnk6C64qwFslW5f8-7cv0" target="_blank">
							<span>Become a partner</span>
							{% octicon arrow-right height:16 %}
						</a>
					</li>
					<li>
						<a href="https://docs.google.com/forms/d/1IiGB2Id7bCobmzECCkfzmb76UV7HQVA1szKQMzNtwXo" target="_blank">
							<span>Apply</span>
							{% octicon arrow-right height:16 %}
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
