<ul class="logo-list" data-animate-in="up">
  <li>
    <img src="/assets/img/logos/github.svg" alt="GitHub logo" />
  </li>
  <li>
    <img src="/assets/img/logos/redhat.svg" alt="Red Hat logo" />
  </li>
  <li>
    <img src="/assets/img/logos/microsoft.svg" alt="Microsoft logo" />
  </li>
  <li>
    <img src="/assets/img/logos/cisco.svg" alt="Cisco logo" />
  </li>
  <li>
    <img src="/assets/img/logos/intel.svg" alt="intel logo" />
  </li>
  <li>
    <img src="/assets/img/logos/fidelity.jpeg" alt="Fidelity logo" />
  </li>
  <li>
    <img src="/assets/img/logos/shaw-university.png" alt="shaw university logo" />
  </li>
  <li>
    <img src="/assets/img/logos/NCCU.png" alt="North Carolina Central University logo" />
  </li>
  <li>
    <img src="/assets/img/logos/clack-atlanta-univesity.png" alt="Clark Atlanta University logo" />
  </li>
  <li>
    <img src="/assets/img/logos/wssu.png" alt="Winston Salem State University logo" />
  </li>
  <li>
    <img src="/assets/img/logos/stauglogo.png" alt="Saint Augustine’s University logo" />
  </li>
  <li>
    <img src="/assets/img/logos/Huston-Tillotson-logo-Transparent.png" alt="Huston Tillotson University logo" />
  </li>
  <li>
    <img src="/assets/img/logos/uncpembroke.png" alt="University of North Carolina Pembroke logo" />
  </li>
  <li>
    <img src="/assets/img/logos/Chaoss_Logo.png" alt="CHAOSS Project logo" />
  </li>
  <li>
    <img src="/assets/img/logos/Linux-Foundation.svg" alt="Linux Foundation logo" />
  </li>
  <li>
    <img src="/assets/img/logos/mlh-logo-color.svg" alt="Major League Hacking logo" />
  </li>
  <li>
    <img src="/assets/img/logos/ato.png" alt="All Things Open Network logo" />
  </li>
</ul>
