
<div class="modal-wrap" id="partners">
  <div class="modal">
    <div>
      <div class="wrapper-thin pt-6 my-6 text-center">
        <h2 class="h2 mb-4">Become a partner</h2>
        <b>Our Goal</b>
        <p>The All In community will collaborate with industry partners and build on research and initiatives that already exist to advance diversity, equity, and inclusion in open source. Our goals will be aligned across four pillars: Access, Community, Equity, and Data.</p>
      </div>

      <div id="mc_embed_signup">
        <form action="https://github.us11.list-manage.com/subscribe/post?u=9d7ced8c4bbd6c2f238673f0f&amp;id=90d5ac6af4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe-form py-6" target="_blank" rel="noopener noreferrer" novalidate="novalidate">
          <div id="mc_embed_signup_scroll">

            <div class="form-body">
              <div class="field-group">
                <label for="mce-FNAME">First name</label>
                <input type="text" value="" name="FNAME" class="required firstname" id="mce-FNAME">
                <div for="mce-FNAME" class="mce_inline_error">This field is required.</div>
              </div>
              <div class="field-group">
                <label for="mce-EMAIL">Email</label>
                <input type="email"  value="" name="EMAIL" class="required email" id="mce-EMAIL">
                <div for="mce-EMAIL" class="mce_inline_error">This field is required.</div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9d7ced8c4bbd6c2f238673f0f_90d5ac6af4" tabindex="-1" value=""></div>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"><span>Subscribe</span>{% octicon arrow-right height:16 %}</button>
          </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>
    </div>
    <div class="modal__close" data-modal="partners">{% octicon x height:24 %}</div>
  </div>
  <a class="screen" href="#" data-modal="partners"></a>
</div>
