<div class="video-wrap">
  <div id="player"></div>
  <figure class="video-wrap__poster" id="play-btn">
    <img src="/assets/img/direction/video-poster.png" />
    <button class="">
      <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 44C12.954 44 4 35.046 4 24C4 12.954 12.954 4 24 4C35.046 4 44 12.954 44 24C44 35.046 35.046 44 24 44ZM21.244 16.83C21.1236 16.7497 20.9837 16.7035 20.8392 16.6964C20.6947 16.6893 20.5509 16.7216 20.4233 16.7897C20.2956 16.8579 20.1889 16.9593 20.1143 17.0834C20.0398 17.2074 20.0003 17.3493 20 17.494V30.506C20.0003 30.6507 20.0398 30.7926 20.1143 30.9166C20.1889 31.0407 20.2956 31.1421 20.4233 31.2103C20.5509 31.2784 20.6947 31.3107 20.8392 31.3036C20.9837 31.2965 21.1236 31.2503 21.244 31.17L31.002 24.666C31.1117 24.593 31.2017 24.494 31.264 24.3778C31.3262 24.2616 31.3588 24.1318 31.3588 24C31.3588 23.8682 31.3262 23.7384 31.264 23.6222C31.2017 23.506 31.1117 23.407 31.002 23.334L21.242 16.83H21.244Z" />
      </svg>
      <span class="sr-only">play video</span>
    </button>
    {% if page.id == 'home' %}
    <figcaption>Introducing All In at the Open Source Summit 2021</figcaption>
    {% else %}
    <figcaption class="p-sm">Preliminary findings from the Maintainers Listening Tour at All Things Open 2021</figcaption>
    {% endif %}
  </figure>
  <script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        videoId: 'RdwR-E9I3Tg',
        events: {
          'onStateChange': onPlayerStateChange
        }
      });
    }

    let $ = jQuery;
    let playBtn = $('#play-btn');
    let vid = $('.video-wrap');

    playBtn.click(function(e){
      e.preventDefault();
      player.playVideo();
      vid.addClass('is-playing');
    });

    var done = false;
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
        //setTimeout(stopVideo, 6000);
        done = true;
      }
    }
    function stopVideo() {
      player.stopVideo();
    }
  </script>
</div>
