// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------


.back-to-all {
  color: $white;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);

  .icon-link {
    display: flex;

    svg {
      transform: translate3d(0, 3px, 0);
    }
  }
}

.blog-header {
  background: $black;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: $white;
    z-index: 1;
    position: absolute;

    @include start-at($medium) {
      height: 180px;
    }
    @include start-at($large) {
      height: 280px;
    }
  }
}

.blog-header--no-img {
  padding-bottom: 72px;

  &:after {
    display: none;
  }
}

.blog-header__content {
  max-width: 1032px;
  margin: 0 auto;
  width: 92%;
  padding: 120px 0 0;
  color: $white;
  position: relative;
  z-index: 2;

  @include start-at($large) {
    padding: 180px 0 0;
  }
}

.blog-header__image {
  margin-top: 90px;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 52%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}


.blog__content {
  @include wrapper;
  max-width: 820px;
  margin-bottom: 120px;

  .author {
    figure {
      width: 48px !important;
      height: 48px !important;
      min-width: 48px !important;
    }

    span {
      display: inline-block !important;
      font-size: 14px !important;

      @include start-at($medium) {
        font-size: 14px !important;
      }
    }

    p {
      font-size: 18px !important;
      margin-bottom: 4px !important;

      @include start-at($medium) {
        font-size: 24px !important;

      }
    }
  }

  .blog__meta {
    p.font-mono {
      font-weight: 200 !important;
      font-size: 14px !important;
    }
  }
}

.longform {
  img {
    width: 100%;
    margin: 36px 0;
  }

  h1, h2, h3, h4 {
    margin-top: 36px;

    + p {
      margin-top: 18px;
    }
  }

  strong, b {
    font-weight: 600;
  }

  blockquote {
    margin: 36px 0;
    position: relative;
    z-index: 1;

    &:before {
      content:'“';
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);

      @include start-at($medium) {
          transform: translateX(-150%);
      }
    }

    &:before,
    p {
      font-family: $sans-serif;
      font-weight: 700 !important;
      font-size: 24px !important;
      letter-spacing: -0.2px;
      line-height: 1.25;
      color: $black;

      @include start-at($medium) {
        font-size: 48px !important;;
      }
    }
  }

  small {
    font-weight: 200 !important;
    font-size: 16px !important;
  }

  ul, ol {
    @include para;
    color: var(--color-text-secondary);
    list-style-type: disc;
    padding-left: 24px;
    margin: 18px 0;
    line-height: 1.6;
  }

  ol {
    list-style-type: decimal;
  }
}



// ----------------------------------------
//
// ----------------------------------------
