// ---------------------------------------------------------------------
//  Form Styles (Gravity Forms)
// ---------------------------------------------------------------------

#subscribe {
  transition: background $trans;

  .wrapper {
    min-height: 188px;
  }
}


#mce-responses {
  max-width: 530px;
}

form {
  font-size: 16px;
}


.form-body {
  max-width: 544px;
  width: 100%;
  margin: 24px 0 0;
}

div.mce_inline_error {
  display: none;
  background: transparent !important;
  color: var(--color-scale-red-4) !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  position: absolute;
  top: 100%;
  margin: 0 !important;
  padding: 2px 0 !important;
}


#mce-success-response {
  color: var(--color-scale-green-5) !important;
}

.response#mce-error-response {
  font-size: 16px;
  margin-top: 8px;
  color: $error;

  a {
    text-decoration: underline;
  }
}

.response#mce-success-response {
  font-size: 24px;
  margin-top: 8px;


  a {
    text-decoration: underline;
  }
}

// ----------------------------------------
// Groups and labels
// ----------------------------------------

.field-group,
.mc-field-group {
  display: block;
  flex-grow: 1;
  position: relative;
  margin-bottom: 22px;
  width: 100%;

  label {
    font-family: $sans-serif;
    font-weight: 700;
    font-size: 16px;

    span {
      display: block;
      font-weight: 400;
    }
  }

  input {
    margin-bottom: 0 !important;
  }
}

.field-group-two {

  @include start-at($medium) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > * {
      width: calc(50% - 10px);
      max-width: calc(50% - 10px);
      margin-top: 0 !important;
    }

  }
}

// ----------------------------------------
// Inputs
// ----------------------------------------

input[type="text"],
input[type="email"],
textarea {
  appearance: none;
  font-family: $sans-serif;
  display: block;
  text-align: left;
  flex-grow: 1;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  box-shadow: none;
  border: none;
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid $border;
  height: 44px;
  color: $black;
  background: transparent;
  transition: border-color $trans;
  margin-bottom: 24px;

  &:focus {
    outline: none;
    border-color: $gray-darkest;
  }

  &.mce_inline_error {
    border-color: $error !important;
  }
}

textarea {
  border: 1px solid $border;
  min-height: 120px;
  margin-top: 8px;
  padding: 12px;

}

button[type="submit"],
input[type="submit"] {
  margin-top: 36px;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    background: transparent;
    color: $black;
  }
}

// ----------------------------------------
// Radios & Checkboxes
// ----------------------------------------

.radio,
.checkbox {
  + .radio,
  + .checkbox {
    margin-top: 12px;
  }

  input {
    @include visually-hidden;
  }

  label {
    position: relative;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;

    b {
      display: block;
      margin-bottom: 4px;
    }

    span {
      font-weight: 400;
    }

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: "";
      display: block;
      width: 24px;
      min-width: 24px;
      height: 24px;
      z-index: 2;
      border: 1px solid $black;
      background: transparent;
      cursor: pointer;
      margin-right: 16px;

      @include start-at($large) {
        width: 24px;
        min-width: 24px;
        height: 24px;
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      left: 6px;
      top: 6px;
      z-index: 3;
      background: $brand;
      transform: scale(0);
      transition: transform .35s cubic-bezier(0.68,-0.55,0.27,1.75);
      cursor: pointer;

    }
  }

  input:checked + label {
    &:after {
      transform: scale(1);
    }
  }
}

.radio label:before,
.radio label:after {
  border-radius: 50%;
}

.radio--center label {
  align-items: center;

  &:before {
    margin-right: 10px;
  }
}


// ----------------------------------------
// Placeholders
// ----------------------------------------

input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  transition: opacity $trans;
}
input:focus::-webkit-input-placeholder {
  opacity: 0.3;
}
input:-moz-placeholder {
  color: #959DA5;
  transition: opacity $trans;
}
input:focus:-moz-placeholder {
  opacity: 0.3;
}
input::-moz-placeholder {
  color: #959DA5;
  transition: opacity $trans;
}
input:focus::-moz-placeholder {
  opacity: 0.3;
}
input:-ms-input-placeholder {
  color: #959DA5;
  transition: opacity $trans;
}
input:focus:-ms-input-placeholder {
  opacity: 0.3;
}
