// ---------------------------------------------------------------------
//  Hero
// ---------------------------------------------------------------------



.hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 180px 0 48px;
  background: url('../img/direction/static.jpg') center / cover no-repeat;

  .btns {
    justify-content: center;

    @include start-at($medium) {
      justify-content: flex-start;
    }
  }

  @include stop-at($small) {
    .btn {
      width: 100%;
    }
  }
  @include start-at($medium) {
    padding: 120px 0;
    min-height: 608px;
  }

  @include start-at($xlarge) {
    padding: 192px 0 140px;
    min-height: 764px;
  }
}

.hero--video {
  padding-bottom: 48px;

  @include start-at($large) {
    padding-bottom: 72px;
  }


}

.hero--dark {
  background: $black;
  color: $white;
}

.hero__content {
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0 auto;



  p {
    max-width: 1113px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-content__media {
  position: relative;
  max-width: 1032px;
  margin: 36px auto 0;
  width: $wrapper-percentage;

  .orb {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    transform: translate3d(-24px, -36px, 0) rotate(145deg);

    @include start-at($large) {
      transform: translate3d(-50%, -100%, 0) rotate(145deg);
    }
  }

  @include start-at($large) {
    margin: 48px auto 0;
  }
}

.hero__pattern {
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
}

.hero__img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;

  img {
    width: 100%;
  }
}

.hero__ft {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, -24px, 0);
  text-align: center;
  width: 200px;
  color: $white;


  .h6 {
    margin-bottom: 0;
  }

  svg {
    display: block;
    margin: 8px auto 0;
    fill: $white;
    width: 12px;
  }
}

.dots-lg {
  position: absolute;
  transform: translate3d(0, -50%, 0);
  z-index: 2;
  width: 100px;
  left: -20px;


  @include start-at($medium) {
    left: 7.5%;
    transform: translate3d(0, -50%, 0);
    z-index: 2;
    width: 160px;
  }
}

.hero__pattern {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 10000%;
  z-index: -1;
  bottom: 0;
  left: 0;

  width: 260%;
  left: -80%;

  @include start-at($small) {
    width: 200%;
    left: -50%;
  }

  @include start-at($large) {
    width: 140%;
    left: -20%;
  }

  @include start-at($xlarge) {
    width: 100%;
    left: 0;
  }
}

// ----------------------------------------
//
// ----------------------------------------
