// ---------------------------------------------------------------------
//  One Offs
// ---------------------------------------------------------------------

.img-rounded {
  border-radius: 16px;
}

#benefits {

  h4 {
    font-family: $serif;
    font-weight: 700;
    font-size: 24px;
    margin: 12px 0 12px;
  }

  p {
    font-size: 14px;

    @include start-at($medium) {
      font-size: 16px;
    }
  }

  small {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
  }
}

.row--img-icons {

  .orb-wrap {
    position: relative;
    z-index: 1;
  }

  img {
    position: absolute;
    left: -12px;
    top: -24px;;
    z-index: -1;
  }
}

.faqs {

  @include start-at($large) {
    column-count: 2;
    column-gap: 48px;
  }
  > * {
    margin-bottom: 36px;
    break-inside: avoid-column;
  }
}


// ----------------------------------------
// Bullet
// ----------------------------------------

.bullet {
  position: relative;
  padding-left: 24px;

  &:before {
    content: '';
    width: 12px;
    height: 12px;
    border: 4px solid $brand;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
  }

  @include start-at($medium) {
    padding-left: 36px;

    &:before {
      width: 20px;
      height: 20px;
      border: 6px solid $brand;
      top: 3px;
    }
  }
}


// ----------------------------------------
// Home section
// ----------------------------------------

$hc-bp: $large;

.home-cray {
  position: relative;
  z-index: 5;
  background: $gray-darkest url('../img/direction/static.jpg') center / cover no-repeat;
  padding-bottom: 100px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  @include start-at($hc-bp) {
    padding-bottom: 140px;
  }

  .home-cray__graph {
    @include stop-at($hc-bp) {
      order: 4;

    }
  }

  .home-cray__text > * {
    @include stop-at($hc-bp) {
      order: 2;
      margin: 24px 0 48px;
    }

    > * {
      max-width: 534px;
      margin-left: auto;
    }
  }
}

.home-cray-img-1 {
  position: relative;
  max-width: 429px;
  padding-bottom: 50px;
  z-index: 2;
  transform: translate3d(0, -40px, 0);



  @include start-at($hc-bp) {
    transform: translate3d(0, -60px, 0);
  }

  img:first-child {
    max-width: 378px;
    margin-left: 20px;

    @include stop-at(600px) {
      max-width: calc(100% - 40px);
    }
  }
  .bl {
    position: absolute;
    top: 60px;
    left: 0;
  }
  .br {
    position: absolute;
    top: 60px;
    right: 0;
  }
  .orb {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.home-cray-img-2 {
  position: relative;
  max-width: 456px;
  padding-top: 40px;
  padding-left: 40px;
  z-index: 2;
  margin-left: auto;
  transform: translate3d(0, -20px, 0);

  @include start-at($hc-bp) {

  }

  img:first-child {
    max-width: 378px;

  }
  .bl {
    position: absolute;
    top: 100px;
    left: 0;
  }
  .br {
    position: absolute;
    top: 100px;
    right: 0;
  }
  .orb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}




// ----------------------------------------
// Share list
// ----------------------------------------

.site-share {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include start-at($large) {
    justify-content: flex-end;
  }

  a {
    margin: 0 12px;
    border-radius: 50%;
    border: 1px solid #D1D5DA;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity $trans;

    img {
      height: 18px;
    }

    &:hover {
      opacity: 0.5;

      img {
        opacity: 1;
      }
    }
  }
}

// ----------------------------------------
//
// ----------------------------------------

hr.dark {
  border-color: $black;
}

// .js-page-section {
//   padding-top: 80px;
//
//   @include start-at($header-breakpoint) {
//       padding-top: 120px;
//   }
// }

.label {
  font-weight: bold;
  font-size: 12px;
  padding: 5px 8px 4px;
  position: relative;
  border-radius: 3px;
  color: $white;
  z-index: 1;
  margin-left: 8px;

  &:before,
  &:after {
    content: '';
    border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:before {
    background: var(--color-scale-green-5);
    z-index: -1;
  }

  &:after {
    top: 2px;
    background: #22863A;
    z-index: -2;
  }
}


.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;

  &:after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}


// ----------------------------------------
// Checklist
// ----------------------------------------

.checklist {
  font-size: 18px;
  color: blue !important;

  li {
    position: relative;
    color: var(--color-scale-gray-5);
    padding-left: 30px;

    svg {
      position: absolute;
      width: 15px;
      height: 20px;
      top: 2px;
      left: 0;
      fill: var(--color-scale-green-5);
    }

    + li {
      margin-top: 16px;
    }
  }
}



// ----------------------------------------
// Tool tip
// ----------------------------------------

.tooltip {
  position: relative;

  svg {
    vertical-align: super;
    color: var(--color-scale-gray-5);
  }

  &:after {
    content: "*Formerly Open Source for Good";
    position: absolute;
    bottom: calc(100% + 8px);
    right: 12px;
    background: var(--color-scale-gray-5);
    border-radius: 4px;
    padding: 12px;
    font-size: 12px;
    width: 220px;
    color: var(--color-scale-gray-1);
    display: none;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 36px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--color-scale-gray-5);
    display: none;

  }

  &:hover {

    &:before,
    &:after {
      display: block;
    }
  }
}
